 {% extends 'IqaCrowdSourcingBundle:Iqa:baseView.html.twig' %}
	
	{%  block stylesheets %} 
	{%  endblock %}
 
 	{% block body %}

 	<div style="position:fixed; top:40%; left:40%; text-align:center">
 	Choose best pic 
 	<br>
 	<br>
 	
	<form action = "" method = "post">
		<button id="button_left" name="rating" value="1" onclick="stopTime();" type="submit" style="width:100px">left</button>
		<button id="button_right" name="rating" value="2" onclick="stopTime();" type="submit" style="width:100px">right</button>     
        
        <div style="height:200px;"></div>
		<button id="button2" name="rating" value="-1" onclick="stopTime();">skip this vote</button>
         
        <input type="hidden" id="time_tracker" name="time" value="-1"/>			
    </form>
   
    <br><div id="progressbar" style="width:200px; height:30px;"><div id="progressLabel">{{currentImageCount  }} / {{ totalNumberOfImages }}</div></div>
    
   </div>
     
  <script type="text/javascript">
   
    bar = {{ progressBar | json_encode }};    
   	if(bar){
   		progressValue= {{ currentImageCount  }} / {{ totalNumberOfImages }} *100;
   		$("#progressbar").progressbar({
   		  	value: progressValue
   		});
        $("#progressbar").show();		
	}
   	else{
        $("#progressbar").hide();		
   	}	

  	</script> 
  	
 	{% endblock %}
